.footer {
  font-family: $font-secondary;
  background-color: $color-black;
  color: $color-white;
  padding: 40px 0;

  .logo {
    display: inline-block;
    padding-bottom: 50px;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer-top-col {
  &:not(:last-child) {
    padding-right: 16px;
  }
  h4 {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .h4,
  .h5 {
    font-weight: 500;
  }

  &.with-icon {
    display: flex;
    align-items: center;

    .icon {
      min-width: 20px;
      margin-right: 12px;
    }

    h4 {
      line-height: 40px;
    }
  }
}
.footer-bottom {
  a {
    margin-left: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-contact {
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    .icon {
      margin-right: 12px;
      min-width: 20px;
    }
  }
}
