.rotation-note {
  display: none;
}
.rotation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);

  .inner {
    width: 380px;
    text-align: center;
  }
}

