@media screen and (max-width: 1600px) {
  .calculator-page h1 {
    padding: 10px 0 12px;
  }
  .sidebar-tab-content {
    padding: 40px 0;
  }
  .calculator-content {
    height: calc(100vh - 272px);
  }
  .sidebar-tab-content {
    li {
      margin-bottom: 12px;
    }
  }
  .calculator-list-item {
    &:not(:last-child) {
      padding-bottom: 60px;
    }

    &:first-child {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .calculator-sidebar {
    width: 300px;
  }
  .sidebar-tab-header {
    li {
      a {
        padding: 0 8px;
      }
    }
  }
  .calculator-main {
    padding-left: 20px;
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 768px) {
  .calculator-content {
    flex-wrap: wrap;
  }
  .calculator-sidebar {
    width: 100%;
  }
  .calculator-main {
    width: 100%;
    padding: 0;
  }
  .sidebar-tab-content {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 24px 0;

    li {
      white-space: nowrap;
      margin-bottom: 0;
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .calculator-item-content {
    flex-direction: column-reverse;

    >.left, >.right {
      width: 100%;
    }
  }
  .calculator-list {
    height: calc(100vh - 302px);
  }

  .calculator-list-item {
    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  .fixed-ribbon {
    position: static;
    flex-direction: column;
    padding:  32px;
    margin: 0 0 32px;


    > div {
      padding-bottom: 20px;
      text-align: left;
    }
  }
}

@media screen and (max-width: 1280px) {
  .sidebar-tab-header {
    li {
      font-size: 18px;
    }
  }
}
