@media screen and (max-width: 1600px) {
  .container {
    &:not(.fluid) {
      max-width: 1140px;
    }
  }
}

@media screen and (max-width: 1280px) {
  main {
    padding-top: 65px;
  }
  .h1,
  .blog-post-content h1 {
    font-size: 48px;
  }
  .h2,
  .blog-post-content h2 {
    font-size: 32px;
  }
  .h3,
  .blog-post-content h3 {
    font-size: 24px;
  }
  .h4,
  .blog-post-content h4 {
    font-size: 20px;
  }

  .h5 {
    font-size: 18px;
  }

  .btn {
    &.btn-sm {
      padding: 0 12px;
      font-size: 14px;
    }

    &.btn-md {
      padding: 0 20px;
      font-size: 14px;
    }

    &.btn-lg {
      padding: 0 24px;
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      &.ghost {
        height: 54px;
      }
    }
  }

  .pre-text {
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }

  .hide-mobile {
    display: none !important;
  }
  .show-mobile {
    display: inherit !important;
  }
  .h2 {
    font-size: 24px;
  }
  .go-top-btn {
    height: 40px;
    width: 84px;
    right: 20px;

    .icon {
      width: 28px;
      height: 28px;
    }
  }
}

@media (max-width: 480px) {
  .h1,
  .blog-post-content h1 {
    font-size: 36px;
  }
  .h2,
  .blog-post-content h2 {
    font-size: 24px;
  }
  .h3,
  .blog-post-content h3 {
    font-size: 20px;
  }
  .h4,
  .blog-post-content h4 {
    font-size: 16px;
  }
  .btn {
    &-in,
    &-fb,
    &-twitter {
      .social-text {
        display: none;
      }
    }
  }
}
