@media (max-width: 1137px) and (min-aspect-ratio: 16/10) {
  .homepage {
    .hero {
      min-height: calc(100vh - 66px);
      height: 100%;

      .animated-mouse {
        bottom: 32px;
        #scroll-here {
          color: $color-white;
        }
      }
    }
  }
  .calculator-page {
    > .container {
      display: none !important;
    }
  }
  .rotation-note {
    display: block;
  }
}
