@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-10 md:px-4;

    &-md, &-sm {
      @apply mx-auto px-10 md:px-4;
    }

    &-md {
      @apply max-w-[1076px];
    }

    &-sm {
      @apply max-w-[818px] lg:max-w-full
    }
  }

  .btn {
    @apply flex flex-row content-center items-center py-3 px-6
    font-secondary text-body2 font-[600] text-white
    bg-transparent uppercase rounded-[30px] h-12 fill-white cursor-pointer
    hover:bg-white/10
    disabled:cursor-default disabled:text-philippine-silver disabled:fill-philippine-silver disabled:hover:bg-transparent
    ;

    :not(:last-child) {
      @apply mr-4;
    }

    &.secondary {
      @apply text-electric-ultramarine fill-electric-ultramarine bg-white hover:bg-cultured;

      &.black {
        @apply text-black fill-black;
      }
    }

    &.primary {
      @apply bg-electric-ultramarine hover:bg-inter-blue;
    }

    &.secondary, &.primary {
      @apply disabled:cursor-default disabled:bg-philippine-silver disabled:fill-cultured text-cultured
    }
  }

  .text-field-group {
    @apply w-[420px] font-secondary;

    .text-field {
      @apply h-[52px] rounded-[38px] flex items-center bg-white p-0.5 pl-4
      text-body2 font-normal text-raisin-black placeholder-granite-gray ring-very-light-azure
      focus-within:ring-2
      ;

      input {
        @apply h-full w-full bg-transparent mr-2 focus:outline-none;
      }

      button {
        @apply flex-shrink-0
      }
    }

    .helper-text {
      @apply text-white text-body3 mt-2 px-4;
    }
  }
}
