@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=block');

@font-face {
  font-family: "Aesthet Nova";
  src: local('Aesthet Nova'),
  url("../fonts/aesthet-nova/aesthet-nova.woff") format('woff'),
  url("../fonts/aesthet-nova/aesthet-nova.ttf") format('truetype'),
  url("../fonts/aesthet-nova/aesthet-nova.eot") format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}