.h1,
.h2,
.h3 {
  font-family: $font-secondary;
  font-weight: 500;

  &.bold {
    font-weight: 700;
  }

  &.primary {
    font-family: $font-primary;
  }
}

.h1,
.blog-post-content h1 {
  font-size: 72px;
  line-height: 1.2;
}
.h2,
.blog-post-content h2 {
  font-size: 56px;
  line-height: 1.2;
}
.h3,
.blog-post-content h3 {
  font-size: 32px;
}
.h4,
.blog-post-content h4 {
  font-size: 24px;

  &.secondary {
    font-family: $font-secondary;
  }
}

.h5 {
  font-size: 20px;
  font-weight: 400;
}
