@layer utilities {
  .text-gradient {
    &-1, &-2 {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &-1 { @apply bg-gradient-1; }
    &-2 { @apply bg-gradient-2; }
  }
}

